.controller {
    position: relative;
    overflow: hidden;
}

.left, .transport, .right {
    display: inline-block;
    vertical-align: middle;
    height: 650px;
}

.left, .right {
    width: 40%;
}

.phone {
    display: inline-block;
    width: 50%;
}

.controller .transport {
    position: relative;
    width: 20%;
    min-height: 100%;
    vertical-align: middle;
}

.transport .container {
    position: relative;
    width: 100%;
    height: 20%;
    margin-top: 50%;
}

.message-icon {
    width: 10%;
    position: absolute;
    opacity: 0;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15, .71, .21, .78);
    animation-iteration-count: infinite;
}

.message-send {
    -webkit-animation-name: send;
    -moz-animation-name: send;
    -o-animation-name: send;
    animation-name: send;
}

@keyframes send {
    from {
        left: 0;
        bottom: 0;
    }
    50% {
        left: 50%;
        width: 20%;
        bottom: 80%;
        transform: rotateZ(180deg);
    }
    to {
        left: 100%;
        opacity: 1;
        bottom: 0;
        transform: rotateZ(360deg);
    }
}

.message-receive {
    -webkit-animation-name: receive;
    -moz-animation-name: receive;
    -o-animation-name: receive;
    animation-name: receive;
}

@keyframes receive {
    from {
        right: 0;
        bottom: 0;
    }
    50% {
        right: 50%;
        width: 20%;
        bottom: 80%;
        transform: rotateZ(180deg);
    }
    to {
        right: 100%;
        opacity: 1;
        bottom: 0;
        transform: rotateZ(360deg);
    }
}

.form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.form .avatar {
    margin-top: 100px;
    display: block;
}

.avatar img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #e2a7ac;
    box-shadow: 0 0 2px 2px #e2a7ac;
    position: relative;
}
