.controller {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.input, .transport, .output {
    position: relative;
    display: inline-block;
    min-height: 100%;
    vertical-align: top;
}

.controller .input {
    width: 41%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2%;
}

.input::-webkit-scrollbar {
    display: none;
}

.controller .transport {
    width: 10%;
    text-align: center;
    overflow: hidden;
    top: 30%;
}

.transport > img {
    width: 30%;
}

.controller .output {
    width: 32%;
    padding-left: 12%;
}