.controller {
    position: relative;
    overflow: hidden;
}

.left, .transport, .right {
    display: inline-block;
    text-align: center;
}

.left, .right {
    width: 40%;
}

.phone {
    display: inline-block;
    width: 50%;
}

.controller .transport {
    width: 20%;
}

.transport > img {
    width: 20%;
}

.form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.form .avatar {
    margin-top: 100px;
    display: block;
}

.avatar img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #e2a7ac;
    box-shadow: 0 0 2px 2px #e2a7ac;
    position: relative;
}
