.phone, .top, .middle, .bottom {
    position: relative;
    width: 311px;
    text-align: left;
}

.phone {
    display: inline-block;
    height: 644px;
}

.top {
    background: url("../img/phone-top.png") no-repeat;
    height: 77px;
    bottom: -1px;
}

.middle {
    background: url("../img/phone-middle.png") no-repeat;
    height: 493px;
    font-family: "PingFang SC", sans-serif;
    font-size: 12px;
}

.bottom {
    background: url("../img/phone-bottom.png") no-repeat;
    height: 76px;
    top: -1px;
}

.bottom .button {
    position: absolute;
    left: 130px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    line-height: 50px;
    box-shadow: 0 0 1px 1px #7c7a76;
    font-size: 16px;
    font-weight: bold;
    color: #7069bf;
}

.bottom .button:active {
    left: 129px;
    top: 9px;
    background-color: #bfbfbf;
    border: 1px solid #7c7a76;
}

.screen {
    position: relative;
    margin: 0 17px;
    height: 493px;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px #7c7a76;
    overflow: hidden;
}

.screen .header, .screen .body, .screen .controller {
    width: 277px;
}

.screen .header {
    position: absolute;
    display: block;
    height: 18px;
    overflow: hidden;
}

.screen .body, .screen .body-no-controller, .screen .body-no-input {
    word-break: break-word;
    overflow: hidden;
    min-height: 338px;
    transition: 1s ease;
}

.screen .body {
    height: 338px;
}

.screen .body-no-controller {
    height: 506px;
}

.screen .body-no-input {
    height: 453px;
}

.screen .controller {
    height: 37px;
    border-top: 1px solid #bfbfbf;
}

.screen .input {
    border-top: 1px solid #bfbfbf;
    height: 114px;
}

.header .signal, .header .operator, .header .signal-type, .header .wifi, .header .timer, .header .battery-percent, .battery-icon {
    display: inline-block;
    height: 18px;
    max-height: 18px;
    overflow: hidden;
    vertical-align: middle;
}

.header .signal {
    margin-left: 2px;
    width: 16px;
    background: url("../img/signal-4.svg") no-repeat;
    background-size: 20px 18px;
}

.header .operator {
    text-align: center;
    width: 50px;
    cursor: pointer;
}

.header .operator:hover {
    background-color: #bfbfbf;
    color: white;
}

.header .wifi, .header .signal-type {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    cursor: pointer;
}

.header .wifi:hover, .header .signal-type:hover {
    background-color: #bfbfbf;
    color: white;
}

.header .wifi {
    background: url("../img/wifi.svg") no-repeat left;
    background-size: 13px 13px;
}

.header .timer {
    text-align: center;
    width: 110px;
}

.header .battery-percent {
    text-align: right;
    margin-right: 4px;
    cursor: pointer;
}

.battery-percent:hover {
    background-color: #bfbfbf;
    color: white;
}

.header .battery-icon {
    background: url("../img/battery.png") no-repeat center;
    background-size: 26px 12px;
    width: 26px;
    margin-right: 4px;
}

.header .battery-icon:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}

.header .lightning {
    display: inline-block;
    background: url("../img/lightning.png") no-repeat left;
    background-size: 10px 10px;
    width: 8px;
    height: 8px;
    margin-left: -4px;
}

.battery-icon span {
    position: relative;
    display: inline-block;
    left: 2px;
    top: -1px;
    height: 8px;
    min-width: 1px;
    border-radius: 2px;
    transition: 0.5s;
}

.hours:hover, .minute:hover {
    cursor: pointer;
    background-color: #bfbfbf;
}

.hours input, .minute input {
    height: 18px;
    width: 20px;
    background-color: #bfbfbf;
    outline: none;
}

.hours input::-webkit-inner-spin-button, .minute input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


