.message {
    position: relative;
    display: block;
    width: 277px;
    margin-top: 10px;
    cursor: pointer;
}

.message:hover {
    background-color: #e53b32;
    border-radius: 10px;
    border: 1px dot-dash #7c7a76;
}
