.mine, .other {
    position: relative;
    display: block;
    width: 277px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0 10px;
}

.content {
    position: relative;
    font-size: 12px;
    line-height: 21px;
    border-radius: 5px;
    padding: 2px 5px;
    max-width: 120px;
    min-width: 50px;
}

.voice {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.mine .avatar {
    float: right;
}

.mine .voice {
    right: -2px;
    float: right;
    transform: rotateZ(180deg);
}

.mine .content {
    background-color: #68eb4a;
    padding-right: 10px;
    text-align: right;
    float: right;
}

.mine .content:after {
    position: absolute;
    top: 7px;
    right: -4px;
    content: "";
    background-color: inherit;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}

.other .avatar {
    float: left;
}

.other .voice {
    left: -2px;
    float: left;
}

.other .content {
    background-color: white;
    padding-left: 10px;
    float: left;
}

.other .content:before {
    position: absolute;
    top: 7px;
    left: -4px;
    content: "";
    background-color: inherit;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}
