.chat {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

.chat > div {
    display: inline-block;
    background-color: white;
    min-height: 644px;
    vertical-align: top;
    padding: 20px 0;
}

.phone {
    position: relative;
    display: inline-block;
}

.form {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin: 50px 0;
    width: 100px;
}

.form img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #7c7a76;
    margin-bottom: 20px;
}

.form img:active {
    width: 48px;
    height: 48px;
    margin-bottom: 22px;
    box-shadow: 0 0 4px 4px #7c7a76;
}

.form .name {
    display: block;
    text-align: left;
}

.form .name input {
    display: block;
    outline: none;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.receiver .form .name {
    margin-left: 20px;
}

.receiver .form img {
    margin-left: 20px;
}

.user, .receiver {
    width: 500px;
}

.user {
    text-align: right;
}

.receiver {
    text-align: left;
}

.transport {
    position: relative;
    width: 300px;
    height: 689px;
}

.transport .trans {
    position: relative;
    display: block;
    width: 100%;
    height: 60%;
}

.transport .helper {
    background: rgba(215, 215, 215, 0.1);
    width: 100%;
    height: 35%;
    padding: 0 10px;
    margin-bottom: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.transport .helper::-webkit-scrollbar {
    display: none;
}
