.sample {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

.panel {
    display: inline-block;
    width: 60px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #9c9c9c;
    margin: 0 5px;
    border-radius: 10px;
    padding-top: 30px;
}

.panel:hover {
    box-shadow: 0 0 4px 4px #9c9c9c;
}