.home {
    margin-bottom: 20px;
    font-family: "方正舒体", serif;
}

.home h1 {
    font-size: 5em;
}

.home ul {
    list-style-type: none;
}

.home li {
    font-size: 2em;
}

.wechat .chat {
    height: 600px;
    width: 100%;
    background: url("../img/home/wechat-chat.jpg") no-repeat;
    background-size: auto 100%;
}

.button {
    position: relative;
    font-size: 3em;
    color: #6c6cd7;
    text-decoration: underline;
}
