.menu {
    line-height: 64px;
    padding: 0 20%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.header .home {
    width: 30px;
    height: 100%;
    background: url("../img/home-icon.png") no-repeat center center;
    background-size: 100% auto;
}

.body {
    width: 100%;
    padding: 20px 50px 0 50px;
    text-align: center;
    min-height: 845px;
    vertical-align: middle;
}

.footer {
    text-align: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
}

.emoji {
    position: relative;
    top: 2px;
    display: inline;
    height: 14px;
    width: 14px;
    overflow: hidden;
}

.emoji > span {
    height: 14px !important;
}
