.uploader-icon {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}

.form {
    box-shadow: 0 0 2px 2px #cccccc;
    border-radius: 10px;
    height: 380px;
    padding: 10px 0;
    overflow: scroll;
}

.form::-webkit-scrollbar {
    display: none;
}

.form .avatar {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
