.menu {
    line-height: 64px;
    padding: 0 20%;
}

.body {
    width: 100%;
    margin: 20px 50px 0 50px;
    text-align: center;
}

.footer {
    text-align: center;
}

.home {
    height: 24px;
    opacity: 0.6;
    margin-right: 10px;
}
