.menu {
    line-height: 64px;
    padding: 0 20%;
}

.body {
    width: 100%;
    padding: 20px 50px 0 50px;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
}

.home {
    height: 24px;
    opacity: 0.6;
    margin-right: 10px;
}
