.mine, .other {
    position: relative;
    display: block;
    width: 277px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
}

.content {
    position: relative;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
    padding: 5px 5px;
    max-width: 180px;
    text-align: left;
    word-break: break-all;
}

.mine .avatar {
    float: right;
}

.mine .content {
    background-color: #68eb4a;
    float: right;
}

.mine .content:after {
    position: absolute;
    top: 10px;
    right: -4px;
    content: "";
    background-color: inherit;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}

.mine .unread:before {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/text_rejected.png") no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: 6px;
    left: -30px;
}

.other .avatar {
    float: left;
}

.other .content {
    background-color: white;
    float: left;
}

.other .content:before {
    position: absolute;
    top: 10px;
    left: -4px;
    content: "";
    background-color: inherit;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}
