.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    width: 300px;
    margin: 0 10px;
}

.form .addition {
    display: flex;
    width: 300px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 1px 1px #cccccc;
    border-radius: 10px;
    flex-wrap: wrap;
}

.form .addition::-webkit-scrollbar {
    display: none;
}

.addition > .icon {
    width: 16%;
    margin: 2%;
    text-align: center;
    cursor: pointer;
}

.sample {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sample .panel {
    display: flex;
    justify-content: space-around;
    height: 110px;
}

.sample .panel .item {
    cursor: pointer;
    display: flex;
    box-shadow: 0 0 2px 2px #cccccc;
    border-radius: 5px;
    height: 100px;
    width: 70px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}