.mine, .other {
    position: relative;
    display: block;
    width: 277px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
}

.exchange {
    display: inline-block;
    position: relative;
    background-color: #F39A39;
    width: 180px;
    height: 45px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    margin-bottom: 15px;
}

.exchange .icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.exchange .content {
    position: relative;
    display: inline-block;
    color: white;
    height: 35px;
    max-width: 130px;
    text-align: left;
}

.exchange .content .up {
    position: relative;
    height: 15px;
    display: block;
    text-align: left;
    font-size: 14px;
    top: -5px;
}

.exchange .content .down {
    height: 15px;
    display: block;
    text-align: left;
    position: relative;
    top: -5px;
    overflow: hidden;
}

.exchange .content .down > span {
    position: relative;
    display: block;
    font-size: 12px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: -10%;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.75);
}

.exchange:after {
    position: absolute;
    content: "微信转账";
    font-size: 8px;
    color: #535353;
    background-color: white;
    width: 257px;
    height: 20px;
    border-radius: 0 0 5px 5px;
    bottom: -17px;
    left: -39px;
    padding-left: 12px;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.7, 0.7);
}

.mine .avatar, .mine .exchange {
    float: right;
}

.mine .exchange:before {
    position: absolute;
    top: 12px;
    right: -3px;
    content: "";
    background-color: inherit;
    width: 6px;
    height: 6px;
    transform: rotateZ(45deg);
}

.other .avatar, .other .exchange {
    float: left;
}

.other .exchange:before {
    position: absolute;
    top: 12px;
    left: -3px;
    content: "";
    background-color: inherit;
    width: 6px;
    height: 6px;
    transform: rotateZ(45deg);
}