.header {
    position: relative;
    padding-top: 18px;
    background-color: #EEEEEE;
    height: 52px;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
}

.header .back {
    display: inline-block;
    background: url("../img/back.png") no-repeat center;
    background-size: 60%;
    width: 10%;
    height: 100%;
}

.header .title {
    position: relative;
    text-align: center;
    vertical-align: center;
    width: 80%;
    display: inline-block;
    color: black;
    font-family: 微软雅黑, sans-serif;
    font-size: 13px;
    font-weight: 900;
    bottom: 11px;
}

.header .camera {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 100%;
    background: url("../img/wechat_friend_camera_empty.svg") no-repeat;
    background-size: 65% 50%;
    top: 10px;
}

.screen {
    position: relative;
    width: 277px;
    overflow: scroll;
    height: 491px;
    top: -52px;
    z-index: 0;
}

.screen::-webkit-scrollbar {
    display: none;
}

.body {
    position: relative;
    color: black;
    font-size: 14px;
    background-color: #FFFFFF;
}

.head-image {
    position: relative;
    width: 277px;
    height: 240px;
    display: block;
    margin-bottom: 50px;
}

.head-image .back {
    position: absolute;
    background: url("../img/wechat-friend-back.svg") no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    top: 28px;
    left: 6px;
}

.head-image .camera {
    position: absolute;
    background: url("../img/wechat-friend-camera-full.svg") no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    top: 28px;
    right: 11px;
}

.user-avatar {
    position: absolute;
    bottom: -15px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #FFFFFF;
    right: 20px;
    width: 50px;
    height: 50px;
}

.user-name {
    position: absolute;
    color: white;
    bottom: 8px;
    right: 90px;
    font-size: 12px;
}

.content {
    font-size: 13px;
}

.message {
    display: block;
    width: 277px;
    padding: 7px 2px 7px 7px;
    border-bottom: 1px solid #f3f3f3;
}

.message .avatar {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.container {
    display: inline-block;
    vertical-align: top;
    width: 225px;
    margin-left: 7px;
}

.container .name {
    display: block;
    color: #5B6E97;
    margin-bottom: 3px;
}

.content .message-body {
    line-height: 17px;
}

.content .time {
    display: block;
    color: #c0c0c0;
    text-align: left;
    width: 270px;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.8);
    position: relative;
    left: -28px;
}

.content .time .dot {
    position: absolute;
    height: 18px;
    width: 30px;
    background-color: #F8F7F7;
    border-radius: 5px;
    right: 0;
    top: 0;
    -webkit-transform: scale(0.65);
}

.content .time .dot:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #5B6E97;
    border-radius: 3px;
    right: 6px;
    top: 6px;
}

.content .time .dot:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #5B6E97;
    border-radius: 3px;
    left: 6px;
    top: 6px;
}

.content .like {
    position: relative;
    font-size: 12px;
    color: #5B6E97;
    width: 220px;
    word-break: break-word;
    background-color: #F4F3F6;
    border-bottom: 1px solid #e9e9e9;
    padding: 2px 0 2px 18px;
}

.content .like:before {
    content: "";
    position: absolute;
    background: url("../img/wechat-friend-circle-like.svg") no-repeat;
    background-size: 100%;
    height: 12px;
    width: 12px;
    left: 3px;
    top: 5px;
}

.content .comment {
    width: 220px;
    padding: 2px 5px;
    background-color: #F4F3F6;
    font-size: 12px;
    line-height: 15px;
}

.content .comment .name {
    display: inline;
    color: #5B6E97;
}

