.message {
    display: flex;
    margin: 15px 10px;
}

.message .avatar {
    order: 1;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.message .avatar > img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.message > *[datatype="message"] {
    position: relative;
    line-height: 16px;
    max-width: 73%;
    padding: 7px;
    border-radius: 5px;
    margin: 0 6px;
}

.message .text {
    word-break: break-word;
    font-size: 13px;
}

.message .voice {
    position: relative;
    display: block;
    height: 30px;
    min-width: 52px;
    max-width: 60%;
}

.message .voice p {
    position: relative;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.8);
    bottom: 3px;
}

.message .voice .icon {
    display: inline-block;
    height: 100%;
    width: 15px;
    background: url("../img/wechat-voice-message-icon.png") no-repeat center center;
    background-size: 10px;
}

.message .voice .unread {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FF3E3E;
    top: 11px;
    border-radius: 3px;
}

.message .package {
    width: 67%;
    height: 50px;
    background-color: #fa9d3b;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
}

.message .package div[datatype="icon"] {
    height: 100%;
    width: 16%;
    background-size: auto 100%;
    margin-right: 7px;
}

.message .package .open {
    background: url("../img/wechat-red-package-icon.png") no-repeat;
}

.message .package .close {
    background: url("../img/wechat-red-package-icon.png") no-repeat right;
}

.message .package .content {
    height: 100%;
    width: 78%;
    font-size: 13px;
    color: white;
    font-family: serif;
    font-weight: normal;
}

.message .package .content .received {
    position: relative;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.85);
    left: -10px;
    bottom: -5px;
    font-weight: lighter;
}

.message .package .label {
    position: absolute;
    background-color: white;
    height: 12px;
    border-radius: 0 0 4px 4px;
    width: 100%;
    font-size: 12px;
    bottom: -12px;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
}

.message .package .label > p {
    position: relative;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.75);
    left: -15px;
    bottom: 1px;
}

.message .mine, .message .chatter {
    position: absolute;
    display: block;
    top: 11px;
    content: "";
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-radius: 1px;
}

.message .mine {
    right: -2px;
    background-color: inherit;
}

.message .chatter {
    left: -2px;
    background-color: inherit;
}

.message > *[datatype="message"] > .reject {
    position: absolute;
    background: url("../img/wechat-reject-icon.png") no-repeat;
    background-size: 100%;
    height: 16px;
    width: 16px;
    top: 7px;
    left: -25px;
}

