.chat {
    display: block;
    width: 100%;
    position: relative;
}

.chat > div {
    display: inline-block;
    background-color: white;
    min-height: 644px;
    vertical-align: top;
}

.phone {
    position: relative;
    display: inline-block;
}

.form {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin: 10% 0;
    text-align: center;
    width: 20%;
}

.form img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #7c7a76;
    margin-bottom: 20px;
}

.form img:active {
    width: 48px;
    height: 48px;
    margin-bottom: 23px;
    box-shadow: 0 0 4px 4px #7c7a76;
}

.user .form img {
    margin-right: 50px;
}

.form .name {
    display: block;
    text-align: left;
}

.form .name input {
    display: block;
    outline: none;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.receiver .form .name {
    margin-left: 10px;
}

.receiver .form img {
    margin-left: 50%;
}

.user, .receiver {
    width: 450px;
    margin: 2%;
    padding: 0 1%;
}

.user {
    box-shadow: 0 0 5px 5px #7c7a76;
    border-radius: 0 40px 40px 0;
    text-align: right;
}

.transport {
    position: relative;
    width: 20%;
    margin: 4% 0;
}

.receiver {
    box-shadow: 0 0 5px 5px #7c7a76;
    border-radius: 40px 0 0 40px;
}
