.header {
    display: block;
    background-color: #d6d6d6;
    padding-top: 8%;
    padding-right: 2%;
    height: 6%;
    margin: 0 auto;
    max-height: 100%;
}

.back-icon {
    background: url("../img/back.png") center center no-repeat;
    background-size: 80% 70%;
    display: inline-block;
    position: relative;
    top: 1px;
    width: 10%;
    height: 100%;
}

.chat-name {
    position: relative;
    display: inline-block;
    width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    height: 80%;
}

.profile {
    display: inline-block;
    width: 10%;
    text-align: right;
    height: 100%;
    background: url("../img/dot.png") center right no-repeat;
    background-size: 60% 60%;
}

.body {
    border-top: 1px solid #bfbfbf;
    height: 81%;
    background-color: #efefef;
    padding: 2px 4px 0 4px;
    overflow-y: scroll;
}

.body::-webkit-scrollbar {
    display: none;
}

.bottom {
    height: 8%;
    background: url("../img/we-bottom.png") no-repeat;
    background-size: 100% 100%;
    border-top: #dfdfdf 1px solid;
}

.bottom div {
    display: inline-block;
    border-radius: 5px;
    height: 100%;
}

.bottom div:hover {
    background-color: #7c7a76;
    opacity: 0.5;
}

.bottom .voice {
    width: 15%;
}

.bottom .input {
    height: 80%;
    width: 58%;
    margin: 1% 2%;
    border: white 1px solid;
    box-shadow: 0 0 1px 1px white;
}

.bottom .emoji {
    width: 8%;
}

.bottom .addition {
    width: 14%;
}