.header {
    display: block;
    background-color: #d6d6d6;
    padding-top: 8%;
    padding-right: 2%;
    height: 6%;
    margin: 0 auto;
    max-height: 100%;
}

.back-icon {
    background: url("../img/back.png") center center no-repeat;
    background-size: 80% 70%;
    display: inline-block;
    position: relative;
    top: 1px;
    width: 10%;
    height: 100%;
}

.chat-name {
    position: relative;
    display: inline-block;
    width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    height: 80%;
}

.profile {
    display: inline-block;
    width: 10%;
    text-align: right;
    height: 100%;
    background: url("../img/dot.png") center right no-repeat;
    background-size: 60% 60%;
}

.body {
    border-top: 1px solid #bfbfbf;
    height: 81%;
    background-color: #efefef;
    padding: 2px 4px 0 4px;
    overflow-y: scroll;
}

.body::-webkit-scrollbar {
    display: none;
}

.bottom {
    position: relative;
    height: 8%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
}

.bottom-rotate {
    transform: rotateX(90deg);
}

.bottom-bar {
    height: 100%;
    background: url("../img/we-bottom.png") no-repeat;
    background-size: 100% 100%;
    border-top: #dfdfdf 1px solid;
}

.bottom-bar div {
    display: inline-block;
    border-radius: 5px;
    height: 100%;
}

.bottom-bar div:hover {
    background-color: #7c7a76;
    opacity: 0.5;
}

.bottom-bar .voice {
    width: 15%;
}

.bottom-bar .input {
    height: 80%;
    width: 68%;
    margin: 1% 2%;
    border: white 1px solid;
    box-shadow: 0 0 1px 1px white;
}

.bottom-bar .addition {
    width: 10%;
}

.bottom-input {
    height: 100%;
    width: 100%;
    transform: rotateX(-90deg);
}

.bottom-input div {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.bottom-input .bar {
    width: 90%;
}

.bottom-input .back {
    width: 10%;
}

.bottom-input .back img {
    position: relative;
    width: 25px;
    height: 25px;
    top: 5px;
    border-radius: 2px;
    border-left: 1px solid #7c7a76;
}

.voice-input {
    font-size: 12px;
    padding-top: 4%;
    padding-left: 5%;
}

.bar input {
    display: inline-block;
    width: 50%;
    margin-left: 5px;
    outline-style: none;
    border-radius: 5px;
}

.submit {
    background-color: #68eb4a;
    font-size: 14px;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.submit:active {
    background-color: #7c7a76;
}

.text-input {
    position: relative;
    padding-top: 2%;
    margin: 2%;
    width: 90%;
}

.addition-input {
    width: 100%;
    overflow: scroll;
    word-break: break-word;
}

.addition-input .icon {
    display: inline-block;
    height: 80%;
    width: 18%;
    padding: 1%;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.addition-input .icon:hover {
    background-color: #cccccc;
}

.addition-input .icon img {
    width: 100%;
    height: 100%;
}

