.header {
    display: block;
    width: 277px;
    padding-top: 18px;
    height: 32px;
    background-color: #cccccc;
    overflow: hidden;
}

.header .back {
    display: inline-block;
    height: 32px;
    background: url("../img/back.png") no-repeat center left;
    background-size: 20px;
    width: 50px;
}

.header .name {
    display: inline-block;
    width: 177px;
    text-align: center;
    line-height: 32px;
    position: relative;
    top: -11px;
    font-size: 14px;
    font-weight: bolder;
}

.header .profile {
    position: relative;
    display: inline-block;
    width: 45px;
    margin-right: 5px;
    background: url("../img/dot.png") no-repeat center right;
    background-size: 20px;
    height: 32px;
}