.input {
    display: block;
    padding-top: 5%;
    padding-left: 10%;
}

.input p {
    display: inline-block;
    width: 50%;
    line-height: 14px;
    font-size: 14px;
}

.submit {
    text-align: center;
    display: inline-block;
    background: #68eb4a;
    box-shadow: 0 0 1px 2px #68eb4a;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.submit:active {
    background-color: #7c7a76;
    box-shadow: 0 0 1px 2px #7c7a76;
}

.range {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 1px 2px #7c7a76;
    cursor: pointer;
}

.range:focus {
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 8px;
    background: #7c7a76;
    width: 15px;
    height: 15px;
}

.switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    width: 39px;
    height: 20px;
    position: relative;
    border-radius: 20px;
    background-clip: content-box;
    top: 5px;
    right: 10px;
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}

.switch:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.switch:checked:before {
    left: 21px;
}

.check-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.check-switch-anim:before {
    transition: left 0.3s;
}

.check-switch-anim:checked {
    box-shadow: #e53b32 0 0 0 16px inset;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.check-switch-anim:checked:before {
    transition: left 0.3s;
}